.background-design{
    position:absolute;
    top:0;
    right:200px;
    z-index: -1;
    height:70%;
    width:99%;
    /* border: 1px solid #000; */
    background: linear-gradient( 
        var(--light-magenta),
          var(--light-violet)
        );
    align-self: flex-start;
    border-radius:0 0 150% 150%;
   
}


.background-design2{
  display:inline-block;
  position:absolute;
  bottom:-100px;
  right:-170px;
  z-index: -1;
  height:90%;
  width:38%;
  /* border: 1px solid #000; */
  background: linear-gradient( 
      var(--light-magenta),
        var(--light-violet)
      );
  align-self: flex-end;
  border-radius: 150% 150% 0 0;
  opacity:0.1;
}

@media (min-width:375px){
  .background-design2{
    display:none;
  }
}



