.background-design{
   z-index:-1;
   top:0;
   left:-20rem;
   position: absolute;
   width:130%;
   height:60%;
   border-radius:0 0 50% 50%;
   background:linear-gradient(
   var(--primary-light-magenta),
   var(--primary-light-violet)
   );
}

@media (min-width:1440px){
   .background-design{
      left:-9rem;
      width:40%;
      height: 100%;
   }
}
.background-design2{
   z-index:-1;
   bottom:0;
   right:-20rem;
   position: absolute;
   width:130%;
   height:40%;
   border-radius: 50% 50% 0 0;
   background:linear-gradient(
   var(--primary-light-magenta),
   var(--primary-light-violet)
   );
   opacity: 0.1;
}

@media (min-width:1440px){
   .background-design2{
   right:-9rem;
   height:80%;
   width:40%;
   }
}