.chat-container{
    margin-top:3rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:70%;
    border: 10px solid var(--white);
    background-color: var(--light-grayish-violet);
    border-radius: 22px;
    box-shadow: 12px 18px 18px var(--light-grayish-violet);
}

@media (min-width:1440px){
    .chat-container{
        /* flex:1; */
        width:20%;
    }
}

@media (min-width:975px){
   .chat-container{
      width:70%;
   }
}