:root {
    --pale-violet: hsl(276, 100%, 81%); /* (sub-heading at the top of the app UI) */
    --moderate-violet: hsl(276, 55%, 52%); /* (chat on the left) */
    --desaturated-dark-violet: hsl(271, 15%, 43%); /* (chat on the right) */
    --grayish-blue: hsl(206, 6%, 79%); /* (placeholder text) */
    --dark-desaturated-violet: hsl(271, 36%, 24%); /* (main heading) */
    --dark-grayish-violet: hsl(270, 7%, 64%); /* (paragraph) */
    /* Gradients */
    --light-magenta: hsl(293, 100%, 63%); /* (Light Magenta) */
    --light-violet: hsl(264, 100%, 61%); /* (Light Violet) */
    /* Secondary Colors */
    --white: hsl(0, 0%, 100%); /* (White) */
    --light-grayish-violet: hsl(270, 20%, 96%); /* (app background) */
    --dark-desaturated-violet: hsl(271, 36%, 24%); /* (submit button background) */
    --very-light-magenta: hsla(289, 30%, 86%, 0.349); /* (radio button outline) */
  }

 